# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.iml

# Java / Build
target/
build/
out/
.gradle/
.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# Env / Runtime
*.env
.env
.env.*